on init
    # Remove and recreate
    rm /efs
    mkdir /efs
    mkdir /sec_efs

    #to cut charging battery path
    write /sys/class/power_supply/battery/siop_level 0

    # Mount vendor, if necessary
    mount erofs /dev/block/platform/bootdevice/by-name/vendor /vendor

    # Decrypt /data
    exec /sbin/twrp decrypt [sua_senha_ou_pin]
